<!DOCTYPE html>
<html>
  <head>
    <title>QuickMemo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <div class="infomation">
        <div class="title">
          <h1><%= link_to "QuickMemo", root_path %></h1>
        </div>
        <div class="button">
          <ul>
            <li>ログイン</li>
            <li>新規登録</li>
            <li>ログアウト</li>
            <li><%= link_to "ユーザー名", "#" %></li>
          </ul>
        </div>
      </div>
    </header>
    <%= yield %>
    <footer>

    </footer>
  </body>
</html>
